body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    text-shadow: 1px 1px 1px grey;
    color: white;
}

h1 {
    display: block;
    width: fit-content;
    color: white;
    text-align: center;
    font-family: "Press Start 2P", "consolas", sans-serif;
    text-shadow: 2px 2px 2px grey;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    margin: 0 auto;
    background: linear-gradient(to right, #4554fb, rgb(127, 253, 247));
}

h3 {
    display: block;
    width: fit-content;
    color: white;
    text-align: center;
    font-family: "consolas", sans-serif;
    text-shadow: 2px 2px 2px grey;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    margin: 0 auto;
    background: linear-gradient(to right, #4554fb, rgb(127, 253, 247));
}

form {
    background-color: rgba(99, 163, 205, 0.217);
    text-align: center;
    max-width: 30em;
    margin: 2em auto;
    padding: 1.5em;
    border-radius: 0.8em;
    box-shadow: 5px 5px 15px white;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.3em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px white;
    color: white;
}

button {
    text-align: center;
    display: block;
    width: fit-content;
    background: rgba(105, 187, 246, 0.478);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    margin: 0 auto;
    box-shadow: 2px 2px 2px white;
    cursor: pointer;
}

button:hover {
    background: rgb(142, 213, 254);
}

#passwordPretext {
    color: white;
    display: block;
    background:rgba(10, 10, 10, 0.3);
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
}

#inputTextContainer {
    text-align: left;
}

#password {
    cursor: pointer;
}

#popup {
    display: block;
    background-color: rgb(4, 88, 1);
    width: fit-content;
    margin: 1em auto;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;

    color: rgb(0, 253, 0);
    text-decoration: solid;
    text-shadow: 0px 0px 0px;
    opacity: 0%;
}
#popup.show {
    animation: flash 1s ease-in-out forwards;
}

@keyframes flash {
    0% {opacity: 0%; }
    30% {opacity: 100%; }
    80% {opacity: 100%; }
    100% {opacity: 0%; }
}