body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: rgb(45, 44, 44);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(58, 57, 57);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 5em;
    border: none;
    background-color: rgb(72, 72, 72);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: rgb(117, 116, 116);
}
button:active {
    background-color: rgb(151, 149, 149);
}

.operator {
    background-color: rgb(226, 116, 26);
}
.operator:hover {
    background-color: rgb(237, 147, 73);
}
.operator:active {
    background-color: rgb(255, 204, 163);
}

#equals {
    background-color: rgb(2, 113, 36);
}
#equals:hover {
    background-color: rgb(17, 156, 59);
}
#equals:active {
    background-color: rgb(38, 216, 91);
}

#clear {
    background-color: rgb(6, 42, 113);
}
#clear:hover {
    background-color: rgb(26, 57, 149);
}
#clear:active {
    background-color: rgb(72, 96, 251);
}